@font-face {
    font-family: 'gothamBlack';
    src: url(../../fonts/gotham/GothamBlack.otf);
}

@font-face {
    font-family: 'gothamBook';
    src: url(../../fonts/gotham/GothamBook.otf);
}